#root {
    -fx-background-color: #333;
    -fx-background-image: url("img/cinema-movie-background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.scene {
    -fx-background-insets: 50px;
    -fx-padding: 50px;
    -fx-background-color: white;
}

/* Misc */

.btn {
    -fx-pref-height: 70px;
    -fx-min-height: 70px;
    -fx-max-height: 70px;
    -fx-pref-width: 100px;
    -fx-min-width: 100px;
    -fx-font-size: 18px;
    -fx-background-insets: 10px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
   -fx-background-color: transparent;
}

/* Controls */

#controlBar {

}

/* OverviewScene */

#overviewPane {
    -fx-padding: 15px;
    -fx-pref-tile-width: 700px;
}

#overviewPane .movie {
    -fx-padding: 15px;
    -fx-background-color: white;
    -fx-transition: -fx-background-color 1s;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#overviewPane .movie.selected {
    -fx-background-color: red;
}

